<div class="container">
    <div class="container-header">
        <div class="header-text">
            <h1>Place to <span>Visit</span></h1>
        </div>
        
        <div class="header-images">
            <div class="text-top-reviews">
                <p>Top Reviews</p>
            </div>
            <div class="images">
                <img src="https://www.flaticon.com/svg/static/icons/svg/2922/2922506.svg" alt="">
                <img src="https://www.flaticon.com/svg/static/icons/svg/2922/2922506.svg" alt="">
                <img src="https://www.flaticon.com/svg/static/icons/svg/2922/2922506.svg" alt="">
                <img src="https://www.flaticon.com/svg/static/icons/svg/2922/2922506.svg" alt="">
            </div>
        </div>
    </div>
    <div class="container-nav">
        <div class="container-image-left">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGQlNKaH4z7fzyDMTm9_Af8SrBKsEmWOrMpQ&usqp=CAU" alt="">
        </div>
        <div class="container-image-right">
            <div class="container-image-right-top">
                <img src="https://p1.pxfuel.com/preview/335/808/37/facade-facades-building-pastel-colors-balconies-beautiful-street.jpg" alt="">
            </div>
            <div class="container-image-right-bottom">
                <img src="https://i.pinimg.com/originals/6e/d7/3d/6ed73db43e5cd2c8644c38f5fbcdde4f.jpg" alt="">
            </div>

        </div>

    </div>
</div>